@model GetTravelApplication.Models.User.RegisterViewModel

<div class="text-center register-container">
    <h2>New user registration</h2>
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Year"></label><br />
            <input asp-for="Year" class="form-control"/>
            <span asp-validation-for="Year"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" class="form-control"/>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-blue-color" value="Registration" />
        </div>
    </form>
</div>