@{ 
    var originalText = @ViewBag.TextToEdit as string;
}
<form method="post" style="font-size: 22px;">
    <div>
        <label>
            Text
            <input type="text" name="text" placeholder="Enter task text..."
                   style="padding: 8px; font-size: 22px;"
                   @*add original value*@ 
                   value="@originalText"/>
        </label>
    </div>
    <button style="margin: 15px; padding: 10px;">Save</button>
</form>
