@{
    ViewData["Title"] = "Login";
}


<form method="post" asp-controller="Auth" asp-action="Login">
    <div class="mb-3">
        <label for="InputLogin" class="form-label">Login</label>
        <input type="text" name="login" class="form-control" id="InputLogin">
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="InputPassword">
    </div>
    <button class="btn btn-primary">Login</button>
</form>