@model Practice_10.Models.Users.RestoreUserViewModel

@{
    ViewData["Title"] = "RestoreAccess";
}

<h1 style="text-align: center">Restore Access</h1>
<hr />
<div class="row">
    <div class="col-md-4" style="margin: 0 auto">
        <form asp-action="RestoreAccess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" readonly class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecretQuestion" class="control-label"></label>
                <input asp-for="SecretQuestion" readonly class="form-control" />
                <span asp-validation-for="SecretQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecretQuestionAnswer" class="control-label"></label>
                <input asp-for="SecretQuestionAnswer" class="form-control" />
                <span asp-validation-for="SecretQuestionAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Get access" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
